#Life2DSimulatorReadme {
	position: absolute;
	top: 10px;
	left: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(255, 255, 255);
	height: 11px;
	width: 11px;
	background-color: rgb(255, 0, 0);
	outline-style: solid;
	outline-width: 3px;
	outline-color: rgb(255, 0, 0);
}

#Life2DSimulatorMainPool {
	position: absolute;
	top: 0px;
	left: 0px;
}

#Life2DSimulatorStartStopButton {
	position: absolute;
	top: 8px;
	right: 0;
	color: rgb(250, 250, 250);
	background-color: rgba(0, 0, 0, 0.7);
	border-style: solid;
	border-width: 2px;
	border-color: rgba(250, 250, 250, 0.7);
	font-size: 18px;
	cursor: pointer;
}

#Life2DSimulatorLifeNumChanger {
	top: 100px;
	color: rgb(250, 250, 250);
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 18px;
}

#Life2DSimulatorLifeNumChangerLabel {
	top: 100px;
	color: rgb(250, 250, 250);
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 15px;
}

.Life2DSimulatorInput {
	position: absolute;
	right: 0;
	width: 80px;
	margin: 4px;
	padding: 4px;
	outline-style: solid;
	outline-color: rgba(160, 160, 0, 0.7);
	outline-width: 1px;
}

.Life2DSimulatorInputLabel {
	position: absolute;
	right: 84px;
	margin: 4px;
	padding: 4px;
	outline-style: solid;
	outline-color: rgba(160, 160, 0, 0.7);
	outline-width: 1px;
}

